
@font-face{
  font-family: "GOT";
  src:  url('fonts/got-webfont.woff') format('woff'),
        url('fonts/got-webfont.woff2') format('woff2'),
        url('fonts/GOT.ttf')  format('truetype');
}

/* For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}*/

/* End for testing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  background-color: #1f2b39;
  color: white;
  font-family: Georgia;
}

#container {
  width: 100%;
}

#header {
  background-image: url("../img/throne.png");
  background-position: center;
  height: 40vh;
  background-size: cover;
  position: relative;
}

#hidden-nav {
  display: none;
}

h1 {
  font-family: "GOT", fantasy;
  letter-spacing: 0.3em;
  text-align: center;
  color: #EEE;
  text-shadow: 2px 2px 2px black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img {
  max-width: 100%;
}

aside {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

aside ul {
  list-style-type: none;
}

aside ul li {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}

aside ul li a{
  color: #FFF;
  text-decoration: none;
  letter-spacing: 0.3em;
}

aside h3 {
  text-align: center;
  font-size: 1.3em;
  font-family: "GOT", fantasy;
  letter-spacing: 0.5em;
}

#houses {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 10px;
}

#houses img {
  width: 33.3%;
  filter: grayscale(80%);
  transition: filter 300ms;
}

#houses img:hover {
  cursor: pointer;
  filter: grayscale(0%);
}

main {
  padding: 40px 15px;
}

main h2 {
  font-family: "GOT", fantasy;
  text-align: center;
  font-size: 2em;
  padding-bottom: 20px;
  letter-spacing: 0.3em;
}

main p {
  padding-bottom: 20px;
}

main p:first-letter {
  float: left;
  font-size: 2.7em;
  font-family: "GOT", fantasy;
  padding-right: 6px;
  padding-top: 5px;
  padding-bottom: 0;
}

main p:first-letter:after {
  clear: both;
  display: block;
  content: " ";
}
footer {
  margin: 10px;
  text-align: center;
}
footer p {
  border-top: 1px solid white;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media screen and (min-width: 740px) {
  body {
    background-color: white;
  }

  #header {
    z-index: 2;

  }

  h1 {
    font-size: 3em;
    width: 100%;
  }

  main  {
    color: #1f2b39;
  }

  aside {
    float: left;
    width: 30%;
    background-color: #1f2b39;
    padding: 30px 20px;
  }

  aside ul {
    padding-bottom: 20px;
  }

  aside h3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #houses {
    border-bottom: 0;
  }

  main {
    float: left;
    width: 70%;
    padding: 3% 10%;
    font-size: 1.1em;
    line-height: 1.5em;
  }

  main h2 {
    line-height: 1.3em;
  }

  main p {
    padding-top: 20px;
  }

  main p:first-letter {
    font-size: 2.3em;
    font-family: "GOT", fantasy;
    padding-right: 6px;
    padding-top: 15px;
    padding-bottom: 0;
  }

  main:after {
    clear: both;
    content: " ";
    display: inline-block;
  }

  footer {
    clear: both;
    background-color: white;
  }

  footer p {
    border-top: 0;
    color: #1f2b39;
  }

}

@media screen and (min-width: 1900px) {

  body {
    height: 191vh;
  }

  #container {
    width: 70%;
    position: fixed ;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  aside {
    border-radius: 10px;
  }

  aside ul {
    display: none;
  }

  #houses {
    border-top: 0;
  }

  main {
    padding: 0 20px;
  }

  main p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
  }

  main p:first-letter {
    font-size: 3em;
    font-family: "GOT", fantasy;
    padding-right: 6px;
    padding-top: 25px;
    padding-bottom: 0;
  }

  #hidden-nav {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 7.5vh;
    background-color: #1f2b39;
    z-index: 3;
    display: block;
  }

  #hidden-nav ul {
    width: 80vw;
    position: absolute;
    top: 20%;
    left: 15%;

  }

  #hidden-nav li {
    display: inline;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0;
    width: auto;
    font-family: "GOT", fantasy;
    letter-spacing: .5em;
    transition: letter-spacing 400ms, color 400ms;

  }

  #hidden-nav li:hover {
    letter-spacing: 1em;
  }

  #hidden-nav li a {
    color: white;
    font-size: 1.75em;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 400ms;
  }

  #hidden-nav li a:hover {
    color: #aaa;
  }

}
